
//相册样式
.ImageGrid {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}
.card {
  overflow: hidden;
  border-radius:5px;
}
.ImageInCard img {
  padding: 0 0 0 0;
  border-radius: 5px;
}

.TextInCard {
  margin-top: -60px;
  color: white;
}
